.main-logo-wraper {
    display: flex;
    align-items: center;
    gap: 16px;


    min-width: max-content;
    justify-self: start;
    cursor: pointer;


    .main-logo {
        height: 50px;
        object-fit: contain;
    }

    .logo-title {
        font-size: 26px;

        span {
            font-weight: 400;
        }
    }
}