.ToyIndex {
    padding-inline: 24px;
    padding-block: 16px;

    .header {
        display: flex;
        justify-content: space-between;


        h2 {
            font-size: 22px;
        }

    }



}