.app-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-inline: 24px;
    height: 80px;

    background-color: var(--grey-background-color);



    .main-logo {
        height: 50px;
    }

    .app-nav {
        display: flex;
        gap: 15px;
    }
    
}
